header {
    position: fixed;
    width: 100%;
    background-color: #636E72;
    height: 120px;
}

body {
    background-color: #2D3436;
    color: whitesmoke;
    font-family: Verdana, Arial, sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
}
header img {
    position: absolute;
    top: 10px;
    max-width: 100%;
    height: 100px;
    padding-left: 10em;

}

header h1 {
    position: absolute;
    left: 400px;
    font-family: 'Merienda', cursive;
    font-size: 300%;
    color: var(--dark-imperial-blue);
    bottom: 1px;
}

#nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

nav a {
    display: inline-block;
    padding: 0.5em 1em;
    background-color: #636E72;
    color: whitesmoke;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
}

nav a:hover {
    background-color: #2D3436;
    color: whitesmoke;
}

nav a:active {
    background-color: #2D3436;
    color: whitesmoke;
}

caption {
    margin: 1em;
    font-weight: bold;
    font-size: 120%;
}

label {
    float: left;
    display: block;
    text-align: right;
    font-weight: bold;
    width: 10em;
    padding-right: 1em;
}

input {
    display: block;
    margin-bottom: 1em;
    width: 20em;
    border: 1px #636E72 solid;
    border-radius: 5px;
}

textarea {
    display: block;
    margin-bottom: 1em;
    width: 37em;
    border: 1px #636E72 solid;
    border-radius: 5px;
    height: 7em;
}

select {
    display: block;
    margin-bottom: 1em;
    width: 20em;
    border: 1px #636E72 solid;
    border-radius: 5px;
}

input[type="submit"] {
    border: 1px whitesmoke solid;
    border-radius: 5px;
    background-color: #636E72;
    color: whitesmoke;
    font-weight: bold;
    font-size: 120%;
    padding: 0.5em;
    width: 25.5em;
}
form {
    padding: 2em;
    background-color: #636E72;
    box-shadow: 5px 5px 8px #000;
    border-radius: 10px;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 5em;
    margin-right: 5em;
    height: 28.5em;
}

img {

    max-width: 100%;
    height: 200px;
    margin: 0px 10px 30px 10px
}

img:hover {
    animation: shake .5s;
    animation-iteration-count: initial;
}

#pics {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 0em;
    margin-right: 0em;
    margin-top: 0em;
    margin-bottom: 0em;
}

#fourth {
    --s: 15px;
    /* size of the frame */
    --b: 2px;
    /* border thickness */
    --w: 200px;
    /* width of the image */
    --c: #636E72;
    /* color of the frame */

    width: var(--w);
    aspect-ratio: 1;
    object-fit: cover;
    padding: calc(2*var(--s));
    --_g: var(--c) var(--b), #0000 0 calc(100% - var(--b)), var(--c) 0;
    background:
        linear-gradient(var(--_g)) 50%/100% var(--_i, 100%) no-repeat,
        linear-gradient(90deg, var(--_g)) 50%/var(--_i, 100%) 100% no-repeat;
    outline: calc(var(--w)/2) solid #0009;
    outline-offset: calc(var(--w)/-2 - 2*var(--s));
    transition: .4s;
    cursor: pointer;
}

#fourth:hover {
    outline: var(--b) solid var(--c);
    outline-offset: calc(var(--s)/-2);
    --_i: calc(100% - 2*var(--s));
}

.float:hover {
    animation: shake .5s;
    animation-iteration-count: initial;
}

h2 {
    font-family: 'Merienda', cursive;
    font-size: 150%;
    font-weight: bold;
    color: #636E72;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

h4 {
    font-family: 'Merienda', cursive;
    font-size: 120%;
    font-weight: bold;
    color: #636E72;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

p {
    font-family: 'Merienda', cursive;
    font-size: 120%;
    font-weight: bold;
    color: ghostwhite;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
    font-weight: bolder;
}
h1 {
    font-family: 'Merienda', cursive;
    font-size: 200%;
    font-weight: bold;
    color: ghostwhite;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}
#ul {
    font-family: 'Merienda', cursive;
    font-size: 110%;
    font-weight: bold;
    color: ghostwhite;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    list-style-type: none;
    font-weight: bolder;
}
table {
    font-family: 'Merienda', cursive;
    font-size: 100%;
    font-weight: bold;
    color: #636E72;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    border-collapse: collapse;
    width: 50%;
    margin-top: 5em;
    margin-left: 20em;
}
table caption {
    color: ghostwhite;
}
table, th, td {
    border: 1px solid #636E72;
    padding: 8px;
}
th {
    background-color: #636E72;
    color: whitesmoke;
}
tr:nth-child(even) {
    background-color: #636E72;
    color: whitesmoke;
}
tr:nth-child(odd) {
    background-color: whitesmoke;
    color: #636E72;
}
tr:hover {
    background-color: #636E72;
    color: whitesmoke;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

@media screen and (max-width: 600px) {
    #pics {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-left: 0em;
        margin-right: 0em;
        margin-top: 0em;
        margin-bottom: 0em;
    }
    #fourth {
        --s: 15px;
        /* size of the frame */
        --b: 2px;
        /* border thickness */
        --w: 200px;
        /* width of the image */
        --c: #636E72;
        /* color of the frame */

        width: var(--w);
        aspect-ratio: 1;
        object-fit: cover;
        padding: calc(2*var(--s));
        --_g: var(--c) var(--b), #0000 0 calc(100% - var(--b)), var(--c) 0;
        background:
            linear-gradient(var(--_g)) 50%/100% var(--_i, 100%) no-repeat,
            linear-gradient(90deg, var(--_g)) 50%/var(--_i, 100%) 100% no-repeat;
        outline: calc(var(--w)/2) solid #0009;
        outline-offset: calc(var(--w)/-2 - 2*var(--s));
        transition: .4s;
        cursor: pointer;
    }

    #fourth:hover {
        outline: var(--b) solid var(--c);
        outline-offset: calc(var(--s)/-2);
        --_i: calc(100% - 2*var(--s));
    }
    img {
        max-width: 100%;
        height: 200px;
        margin: 0px 10px 30px 10px
    }
    img:hover {
        animation: shake .5s;
        animation-iteration-count: initial;
    }
    #fourth {
        --s: 15px;
        /* size of the frame */
        --b: 2px;
        /* border thickness */
        --w: 200px;
        /* width of the image */
        --c: #636E72;
        /* color of the frame */

        width: var(--w);
        aspect-ratio: 1;
        object-fit: cover;
        padding: calc(2*var(--s));
        --_g: var(--c) var(--b), #0000 0 calc(100% - var(--b)), var(--c) 0;
        background:
            linear-gradient(var(--_g)) 50%/100% var(--_i, 100%) no-repeat,
            linear-gradient(90deg, var(--_g)) 50%/var(--_i, 100%) 100% no-repeat;
        outline: calc(var(--w)/2) solid #0009;
        outline-offset: calc(var(--w)/-2 - 2*var(--s));
        transition: .4s;
        cursor: pointer;
    }

    #fourth:hover {
        outline: var(--b) solid var(--c);
        outline-offset: calc(var(--s)/-2);
        --_i: calc(100% - 2*var(--s));
    }
    header {
        display : none;
    }
    nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-left: 0em;
        margin-right: 0em;
        margin-top: 0em;
        margin-bottom: 0em;
    }
    label {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-left: 0em;
        margin-right: 0em;
        margin-top: 0em;
        margin-bottom: 0em;
    }
    select {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-left: 0em;
        margin-right: 0em;
        margin-top: 0em;
        margin-bottom: 0em;
    }
    input {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-left: 0em;
        margin-right: 0em;
        margin-top: 0em;
        margin-bottom: 0em;
    }
    textarea {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-left: 0em;
        margin-right: 0em;
        margin-top: 0em;
        margin-bottom: 0em;
        width: 80%;
    }
    #mySubmit {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-left: 0em;
        margin-right: 0em;
        margin-top: 0em;
        margin-bottom: 0em;
        width: 80%;
    }
    p {
        display: flex;
        flex-direction: column;
        justify-content: right;
        align-items: right;
        margin-left: 0em;
        margin-right: 0em;
        margin-top: 0em;
        margin-bottom: 0em;
        font-size: small;
    }
    table {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-left: 6em;
        margin-right: 0em;
        margin-top: 0em;
        margin-bottom: 0em;
    }
    table caption {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-left: 0em;
        margin-right: 0em;
        margin-top: 0em;
        margin-bottom: 0em;
    }
    
    
}